<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login | verification code</title>
    <link rel="shortcut icon" href="/static/img/facio.ico" type="image/x-icon">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script language="JavaScript" type="text/javascript">
        var Sys = {};
        var ua = navigator.userAgent.toLowerCase();
        if (window.MessageEvent && !document.getBoxObjectFor){
            Sys.chrome = ua.match(/chrome\/([\d.]+)/)[1]
        }
        if(Sys.chrome){
            //alert("the browser you use is Chrome");
        }
        else{
            alert("Please use Chrome or sougou");
        }
    </script>

</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name full-width"><img src="/static/img/knowru_log.png" style="width:100%;height:100%;"></h1>
            </div>
            {% if error %}
                <div class="alert alert-danger text-center">{{ error }}</div>
            {% endif %}
            <h2>Welcome to {{ app_name }}</h2>
            <p id="tiptxt">This transaction requires passing an OTP verification.
Please enter your phone number to start with.</p>
            <form class="m-t" role="form" method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <select id="region_num" class="form-control">
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number" required="length[6~50]">
                </div>

                <div class="full-width">
                    <div class="input-group m-bot15">
                    <input type="text" class="form-control" id="code" name="code" placeholder="Verification Code">
                    <span class="input-group-btn">
                         <input type="button" id="forcode" onclick="getCode(this)" value="Send OTP via SMS" class="btn btn-success">
                    </span>
                </div>

                 <div class="form-group">
                    <button type="button" class="form-group m-t btn btn-primary block full-width" onclick="confirm(this)">Verify Myself</button>
                </div>

                <a href=mailto:support@knowru.com><small>Forgot password? Contact Administrator. </small></a>
            </form>
            <p class="m-t"> <small><b>Copyright</b> Knowru Limited © 2019</small> </p>
        </div>
    </div>



    <!-- Mainly scripts -->
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/base.js"></script>
    <style type="text/css">
        ::-webkit-input-placeholder { color:#f00; }
        ::-moz-placeholder { color:#f00; } /* firefox 19+ */
        :-ms-input-placeholder { color:#f00; } /* ie */
        input:-moz-placeholder { color:#f00; }

        .swal-footer {
            text-align: center;
        }

    </style>
</body>
</html>



<script src="/static/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript">
    var countdown=60;
    var flag = false;
    var tiptxt=document.getElementById("tiptxt");

    for (var i=0; i < region_num.length; i++){
            $("#region_num").append("<option value ='+" + region_num[i].tel + "'>" + region_num[i].en + "  " + "+" + region_num[i].tel + "</option>");
        }

    function getCode(obj){
        flag = vailPhone();
        if (!flag){
            return;
        };
        count(obj);
   }

    function count(obj){
        if (countdown == 0) {
            obj.removeAttribute("disabled");
            obj.value="Send OTP via SMS";
            countdown = 60;
            return;
        } else {
            obj.setAttribute("disabled", true);
            obj.value="resend(" + countdown + ")";
            countdown--;
        }
        setTimeout(function() {
            count(obj) }
            ,1000)
        }

    function vailPhone(){
        var message="";
        var phone=$("#region_num").find("option:selected").val()+$("#phone").val();
        // var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0]{1})|(15[0-3]{1})|(15[5-9]{1})|(18[0-9]{1}))+\d{8})$/;
        if(phone == ''){
            message = "Phone number should not be null!";
        // }else if(phone.length !=11){
        // }else if(!myreg.test(phone)){
        }else if(checkPhoneIsExist()){
            message = "Phone number was used!";
        }else{
            flag = true;
        }
        if(!flag){
            tiptxt.innerText=message;
            tiptxt.style.color='red';
        }else{
            sendCode(phone);
            return flag;
        }
        return flag;
    }

    function checkPhoneIsExist(){
        return false;
    }

    function sendCode(phone){
        $.ajax({
            type: "GET",
            url: '',
            data: {phone: phone},
            success: function (response_data) {
                if (response_data['data']['ResponseMetadata']['HTTPStatusCode']==200){
                    tiptxt.innerText=response_data['msg'];
                    tiptxt.style.color='red';
                }else{
                    tiptxt.innerText="We sent you an OTP to your phone. Please enter the verification code below."
                }
            }
        });
    }

    function confirm(obj){
        var code=$("#code").val();
        var phone=$("#region_num").find("option:selected").val()+$("#phone").val();
        $.ajax({
            type: "GET",
            url: '',
            data: {phone: phone, code: code},
            success: function (response_data) {
                if (response_data.status == 'success'){
                    swal({
                        title: "Thank you!",
                        text: "You passed your verification.",
                        icon: "success",
                        buttons: {
                            confirm: {text: "Go Back", visible: true,},
                        },
                        dangerMode: false,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            document.getElementById("phone").value='';
                            document.getElementById("code").value='';
                            tiptxt.innerText="This transaction requires passing an OTP verification. Please enter your phone number to start with.";
                            tiptxt.style.color='#676A6C'
                        }else{
                        }
                    });
                }else{
                    swal("False", "The passcode you entered was wrong. Please contact our customer services at (123) 456-7890 if you need further assistance.","error")
                }
            }
        });
    }


</script>

